Repository project-trans/MtF-wiki, pull requests merged in 2023-09, with the labels that each got.

#883 更新刘烨出诊时间
  content/zh-cn/docs/hrt/puth/chang-xu.md
  content/zh-cn/docs/hrt/puth/liu-ye/index.md
Labels: Content | 内容

#885 修正 411 一处小错误
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容

#886 更新激素参考水平和使用方式
  content/zh-cn/docs/medicine/estrogen/gel/index.md
  content/zh-cn/docs/medicine/monitoring.md
Labels: Content | 内容, HRT

#896 更新 嗓音训练-金河庚价格
  content/zh-cn/docs/vocal-therapy/vocal-therapy-confirmed.md
Labels: Content | 内容

#884 添加 巡回
  content/zh-cn/docs/psyco/hunan/he-ying/index.md
  content/zh-cn/docs/srs/thailand/thiti.md
Labels: Content | 内容

#900 📝 Update outdated.md, add 徐利敏, according to #859
  content/zh-cn/docs/outdated.md
Labels: Content | 内容

#899 更新 精神科相关综述
  content/zh-cn/docs/psyco/ICD11.md
  content/zh-cn/docs/psyco/psyco-overview.md
Labels: Content | 内容, Psycho | 精神科

#902 更新 陆峥等链接
  content/zh-cn/docs/psyco/shanghai/shmhc/index.md
Labels: Content | 内容

#904 fix: 泰国srs综述
  content/zh-cn/docs/srs/thailand/srs-overview-thailand.md
Labels: Content | 内容

#892 update: 增加 广州暨南一院 高绿芬 最近情况
  content/zh-cn/docs/hrt/jnuh1/index.md
Labels: Content | 内容

#905 更新: 泰国srs中介及陪护相关信息
  content/zh-cn/docs/srs/thailand/chettawut.md
  content/zh-cn/docs/srs/thailand/kamol.md
  content/zh-cn/docs/srs/thailand/preecha.md
  content/zh-cn/docs/srs/thailand/srs-overview-thailand.md
  content/zh-cn/docs/srs/thailand/suporn.md
  content/zh-cn/docs/srs/thailand/thiti.md
Labels: Content | 内容
