Repository project-trans/MtF-wiki, pull requests merged in 2023-12, with the labels that each got.

#943 Upd:psyco/jiangsu/cao-qiuyun
  content/zh-cn/docs/psyco/jiangsu/cao-qiuyun/index.md
  content/zh-cn/docs/psyco/jiangsu/cao-qiuyun/record3.jpg
Labels: Content | 内容

#950 Update puth and sh9
  content/zh-cn/docs/hrt/puth/_index.md
  content/zh-cn/docs/hrt/shanghai/sh9-hrt/index.md
Labels: Content | 内容, HRT

#942 增加了在加拿大金斯敦進行 HRT 的信息
  content/zh-cn/docs/hrt/canada/Kingston/index.md
Labels: Content | 内容, HRT

#953 add 苏州市立医院北区 HRT
  content/zh-cn/docs/hrt/Suzhou/luting/index.md
Labels: Content | 内容, HRT

#954 添加渥太华大学 HRT 相关信息
  content/zh-cn/docs/hrt/canada/uOttawa/index.md
Labels: Content | 内容, HRT

#956 📝 Update sh411 according to surgery experience
  .vscode/settings.json
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#958 目前中文内容较英文更丰富，更新喉结缩小术为中文维基百科链接
  content/zh-cn/docs/ffs/tracheal-shave.md
Labels: Content | 内容, FFS
