Repository project-trans/MtF-wiki, pull requests merged in 2023-10, with the labels that each got.

#897 Add Finland HRT info
  content/zh-cn/docs/hrt/finland/_index.md
  content/zh-cn/docs/hrt/finland/finland-hrt-overview.md
Labels: Content | 内容

#887 增加了上海市浦东新区精神卫生中心的开证渠道
  content/zh-cn/docs/psyco/shanghai/shspdjw/index.md
  content/zh-cn/docs/psyco/shanghai/shspdjw/proof.png
Labels: Content | 内容

#916 Add friendship: NixOS 木桶饭
  content/zh-cn/docs/friendship.md
Labels: Content | 内容

#918 添加贾艳滨量表账单
  content/zh-cn/docs/psyco/guangdong/jia-yanbin/index.md
Labels: Content | 内容

#914 信息过期
  content/zh-cn/docs/srs/thailand/greechart.md
  content/zh-cn/docs/srs/thailand/yanhee.md
Labels: Content | 内容

#913 更新 嗓音训练|Wang Lu
  content/zh-cn/docs/vocal-therapy/wang-lu/index.md
Labels: Content | 内容

#911 🎨 改进“常见法律问题” #898
  content/zh-cn/docs/useful-info/legal-faq.md
Labels: Content | 内容

#908 更新北医三院手术审核等待时间
  content/zh-cn/docs/srs/china/pku3/index.md
Labels: Content | 内容

#891 📝 增加无法修改学历时可采取的对策
  content/zh-cn/docs/srs/education.md
  static/images/srs/news.jpg
Labels: Content | 内容, SRS

#922 更新心理-广东-深圳-北大深圳-王晓京
  content/zh-cn/docs/psyco/guangdong/wang-xiaojing/index.md
Labels: Content | 内容

#923 添加 上海四一一|喉结切除术
  content/zh-cn/docs/ffs/tracheal-shave.md
  content/zh-cn/docs/srs/china/sh411/_index.md
  content/zh-cn/docs/srs/china/sh411/gonadectomy.md
  content/zh-cn/docs/srs/china/sh411/sh411-tracheal-shave/1.jpg
  content/zh-cn/docs/srs/china/sh411/sh411-tracheal-shave/2-1.jpg
  content/zh-cn/docs/srs/china/sh411/sh411-tracheal-shave/2-2.jpg
  content/zh-cn/docs/srs/china/sh411/sh411-tracheal-shave/_index.md
Labels: Content | 内容, FFS
