Repository project-trans/MtF-wiki, pull requests merged in 2024-10, with the labels that each got.

#1134 Update baseURL in config.toml
  .github/workflows/preview-pr-build.yaml
  config/_default/config.toml
Labels: Site | 站点

#1140 更新 Thiti 部分表述 & 调整 WIH 报价信息
  content/zh-cn/docs/srs/thailand/chettawut.md
  content/zh-cn/docs/srs/thailand/thiti.md
  content/zh-hant/docs/srs/thailand/chettawut.md
  content/zh-hant/docs/srs/thailand/thiti.md
Labels: Content | 内容, SRS

#1138 更正 “关于” 和 “校园指南” 页面
  content/zh-cn/about.md
  content/zh-cn/docs/campus.md
Labels: Content | 内容

#1141 (psyco/jia-yanbin): 添加贾艳滨的就诊细节
  content/zh-cn/docs/psyco/guangdong/jia-yanbin/index.md
Labels: Content | 内容, Psycho | 精神科

#1144 Update id-card.md
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1145 更新证件变更指引
  content/zh-cn/docs/srs/china/srs-overview-china.md
  content/zh-cn/docs/srs/education.md
  content/zh-cn/docs/srs/id-card.md
  content/zh-cn/docs/srs/real-name-info.md
  content/zh-cn/docs/srs/us/srs-overview-us.md
  content/zh-cn/docs/useful-info/document-updates/name-change.md
Labels: Content | 内容, SRS

#1153 更新北医三院易性症术后开证条件
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1154 增加有关婚姻状态与手术之间关系的分析
  content/zh-cn/docs/useful-info/legal-faq.md
Labels: Content | 内容

#1149 更新 李赋
  content/zh-cn/docs/psyco/hubei/li-fu/index.md
Labels: Content | 内容, Psycho | 精神科

#1147 更新浙二精神科
  content/zh-cn/docs/psyco/zhejiang/sahzu/index.md
Labels: Content | 内容, Psycho | 精神科

#1148 更新 张瑞国
  content/zh-cn/docs/psyco/shaanxi/zhang-ruiguo/index.md
Labels: Content | 内容, Psycho | 精神科

#1150 优化表格布局
  themes/mtfwiki-modified/assets/customize.scss
Labels: Site | 站点

#1157 添加北医三院各医生的挂号路径
  content/zh-cn/docs/hrt/puth/_index.md
Labels: Content | 内容, HRT

#1158 (hrt/zhejiang2): 优化处方部分描述
  content/zh-cn/docs/hrt/zhejiang2.md
Labels: Content | 内容, HRT

#1160 docs(srs/411): 更新 SRS 手术排期
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#1162 docs: Add document update guide in US.
  content/zh-cn/docs/useful-info/document-updates/unitedstates.md
Labels: Content | 内容

#1161 docs: Update Resource Lists for Voice Therapy and FFS in US
  content/zh-cn/docs/ffs/ffs-overview.md
  content/zh-cn/docs/vocal-therapy/vocal-therapy-confirmed.md
Labels: Content | 内容, FFS

#1163 docs(psyco/shanxi/dongyan): 更正链接
  content/zh-cn/docs/psyco/shanxi/dongyan/index.md
Labels: Content | 内容, Psycho | 精神科

#1164 修改北医三院医生出诊细节和注意事项
  content/zh-cn/docs/hrt/puth/_index.md
  content/zh-cn/docs/hrt/puth/chang-xu/index.md
  content/zh-cn/docs/hrt/puth/pan-bailin/index.md
Labels: Content | 内容, HRT

#1168 李小英相关就诊细节添加
  content/zh-cn/docs/hrt/shanghai/li-xiaoying.md
Labels: Content | 内容, HRT

#1181 更新 邸晓兰
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/index.md
Labels: Content | 内容, Psycho | 精神科

#1182 HRT综述 | 提示栏使用相关修复
  content/zh-cn/docs/medicine/hrt-overview.md
Labels: Content | 内容, HRT

#1183 在生殖器手术栏目下，补充性别肯定手术/性别重置手术相关综述
  content/zh-cn/docs/srs/_index.md
Labels: Content | 内容, SRS

#1185 更新 罗隽
  content/zh-cn/docs/psyco/guangxi/nnswy/_index.md
Labels: Content | 内容, Psycho | 精神科

#1187 docs: delete 国际医学中心医院整形医院 | 郭树忠
  content/zh-cn/docs/outdated.md
  content/zh-cn/docs/srs/china/xa-imc/doctor.jpg
  content/zh-cn/docs/srs/china/xa-imc/index.md
Labels: Content | 内容, SRS

#1186 docs: Update 广州医科大学附属脑科医院｜赵素华
  content/zh-cn/docs/psyco/guangdong/zhao-suhua/index.md
Labels: Content | 内容, Psycho | 精神科

#1189 docs: update srs/srs-tech(手术技术)
  content/zh-cn/docs/srs/srs-tech.md
Labels: Content | 内容, SRS
