Repository project-trans/MtF-wiki, pull requests merged in 2024-11, with the labels that each got.

#1193 Update id-card.md
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1197 docs: 修复和上传 (‎hrt/suzhou/luting) 和 (hrt/australia/UWA) 失效的图片
  content/zh-cn/docs/hrt/australia/UWA/index.md
  content/zh-cn/docs/hrt/australia/UWA/medication.jpg
  content/zh-cn/docs/hrt/australia/UWA/prescription.jpg
  content/zh-cn/docs/hrt/suzhou/luting/_index.md
  content/zh-cn/docs/hrt/suzhou/luting/fee.jpg
  content/zh-cn/docs/hrt/suzhou/luting/inspection.jpg
  content/zh-cn/docs/hrt/suzhou/luting/medication.jpg
Labels: Content | 内容, HRT

#1202 docs(hrt): update 苏州市立医院｜周建英
  content/zh-cn/docs/hrt/suzhou/zhou-jianying/_index.md
Labels: Content | 内容, HRT

#1194 docs(vocal): update 南京同仁医院
  content/zh-cn/docs/vocal-surgery/nanjing-tongren/index.md
  content/zh-cn/docs/vocal-surgery/nanjing-tongren/shuhou.jpg
  content/zh-cn/docs/vocal-surgery/nanjing-tongren/shuqian.jpg
Labels: Content | 内容

#1196 docs(hrt/shang-hai-rui-jing): 修复 Markdown 语句
  content/zh-cn/docs/hrt/shanghai/shang-hai-rui-jing.md
Labels: Content | 内容, HRT

#1192 docs(hrt): add 山东大学齐鲁医院（青岛）｜何兰杰
  content/zh-cn/docs/hrt/liaoning/_index.md
  content/zh-cn/docs/hrt/sduqlqd/doctor.png
  content/zh-cn/docs/hrt/sduqlqd/index.md
  content/zh-cn/docs/psyco/shandong/gao-jin/index.md
Labels: Content | 内容, Psycho | 精神科, HRT

#1204 docs(psyco): update 南京脑科医院
  content/zh-cn/docs/psyco/jiangsu/nbh/index.md
Labels: Content | 内容, Psycho | 精神科

#1206 修复 ja docs medicine hrt-overview.md 排版错误
  content/ja/docs/medicine/hrt-overview.md
Labels: Content | 内容, HRT

#1212 增加留学回国后学历认证书的修改经历
  content/zh-cn/docs/srs/education.md
Labels: Content | 内容, SRS

#1213 增加非在校学生开具介绍信的说明
  content/zh-cn/docs/psyco/introletter/index.md
Labels: Content | 内容, Psycho | 精神科

#1217 更新 贺莹
  content/zh-cn/docs/psyco/hunan/he-ying/index.md
  content/zh-cn/docs/psyco/hunan/he-ying/jd_online.jpg
  content/zh-cn/docs/psyco/hunan/he-ying/record.jpg
  content/zh-cn/docs/psyco/hunan/he-ying/record2.jpg
Labels: Content | 内容, Psycho | 精神科

#1218 浙大二院 | 更新处方信息
  content/zh-cn/docs/hrt/zhejiang2.md
Labels: Content | 内容, HRT

#1221 程明 | 成年才可开具诊断证明
  content/zh-cn/docs/psyco/hunan/cheng-ming/index.md
Labels: Content | 内容, Psycho | 精神科

#1222 德国 | 生效后的 self-id 具体实施细节
  content/zh-cn/docs/useful-info/document-updates/germany.md
Labels: Content | 内容

#1225 德国 | 更新内容以符合法律文本
  content/zh-cn/docs/useful-info/document-updates/germany.md
Labels: Content | 内容

#1229 曹秋云 | 更新开证条件
  content/zh-cn/docs/psyco/jiangsu/cao-qiuyun/index.md
Labels: Content | 内容, Psycho | 精神科

#1233 更新：上海411赵烨德挂号信息
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#1237 docs: update Sydney
  content/zh-cn/docs/hrt/australia/Sydney/index.md
Labels: Content | 内容, HRT
