Repository project-trans/MtF-wiki, pull requests merged in 2024-01, with the labels that each got.

#957 🎨 Minor change to srs/sh411
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#965 PAI：做一些简单的内容整理和补充
  content/zh-cn/docs/srs/srs-tech.md
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#966 Add packaging desc for progynova germany and progynova india
  content/zh-cn/docs/medicine/estrogen/estradiol-valerate/index.md
  static/images/medicine/estradiol-valerate/progynova-de.png
  static/images/medicine/estradiol-valerate/progynova-in.png
Labels: Content | 内容, HRT

#963 [+] Add overview for psyco in Guangxi
  content/zh-cn/docs/psyco/guangxi/_index.md
  content/zh-cn/docs/unconfirmed.md
Labels: Content | 内容, Psycho | 精神科

#928 新增杭州市第七医院
  content/zh-cn/docs/psyco/zhejiang/hzsdqyy/index.md
  content/zh-cn/docs/psyco/zhejiang/hzsdqyy/proof.jpg
Labels: Content | 内容, Psycho | 精神科

#972 李革临 | 更新住院细节
  content/zh-cn/docs/vocal-surgery/li-gelin.md
  content/zh-cn/docs/vocal-surgery/li-gelin/_index.md
  content/zh-cn/docs/vocal-surgery/li-gelin/agreement-1.jpg
  content/zh-cn/docs/vocal-surgery/li-gelin/agreement-2.jpg
  content/zh-cn/docs/vocal-surgery/li-gelin/agreement-3.jpg
  content/zh-cn/docs/vocal-surgery/li-gelin/agreement-4.jpg
  content/zh-cn/docs/vocal-surgery/vocal-surgery-overview.md
Labels: Content | 内容

#969 Enhancement of Patient Guide for Mental Health Center of Chengdu
  content/zh-cn/docs/psyco/sichuan/_index.md
  content/zh-cn/docs/psyco/sichuan/chengdu/index.md
  content/zh-cn/docs/psyco/sichuan/chengdu/photo.jpg
Labels: Content | 内容, Psycho | 精神科
