Repository project-trans/MtF-wiki, pull requests merged in 2024-02, with the labels that each got.

#971 更新广州华侨医院贾艳滨
  content/zh-cn/docs/psyco/guangdong/jia-yanbin/index.md
Labels: Content | 内容, Psycho | 精神科

#973 添加 雌二醇凝胶自制教程
  content/zh-cn/docs/medicine/estrogen/gel/index.md
Labels: Content | 内容, HRT

#970 广州暨南一院 高绿芬 现在提供HRT指导和青春期阻断治疗
  content/zh-cn/docs/hrt/hrt-res-overview.md
  content/zh-cn/docs/hrt/jnuh1/index.md
  content/zh-cn/docs/medicine/antiandrogen/gnrha.md
Labels: Content | 内容, HRT

#974 修改部分汉语拼音拼写问题
  content/zh-cn/docs/hrt/puth/pan-bailin/index.md
  content/zh-cn/docs/psyco/beijing/bhlgh/_index.md
  content/zh-cn/docs/psyco/beijing/bhlgh/guo-bin/index.md
Labels: Content | 内容, Psycho | 精神科, HRT

#975 添加滑铁卢大学的HRT相关信息
  content/zh-cn/docs/hrt/canada/UWaterloo/index.md
Labels: Content | 内容, HRT

#979 未确认列表 删除北京大学人民医院
  content/zh-cn/docs/unconfirmed.md
Labels: Content | 内容

#978 修正typo与增加Tabitha的更多信息
  content/zh-cn/docs/hrt/canada/UWaterloo/index.md
Labels: Content | 内容, HRT
