Repository project-trans/MtF-wiki, pull requests merged in 2024-07, with the labels that each got.

#1043 更新唐宏宇医生就诊时的有关信息
  content/zh-cn/docs/psyco/beijing/tang-hongyu/index.md
Labels: Content | 内容, Psycho | 精神科

#1044 修改处方详情
  content/zh-cn/docs/hrt/puth/pan-bailin/index.md
Labels: Content | 内容, HRT

#1045 更新上海九院手术术前条件
  content/zh-cn/docs/srs/china/sh9/index.md
Labels: Content | 内容, SRS

#1046 补充声明书公证相关报道图像
  content/zh-cn/docs/srs/china/Case.png
  content/zh-cn/docs/srs/china/notarization.md
Labels: Content | 内容, SRS

#1047 Upd:hrt/puth
  content/zh-cn/docs/hrt/puth/_index.md
Labels: Content | 内容, HRT

#1048 证件变更指引 | 增加身份证号变更相关内容
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1052 PAI | 更新文档标题和部分措辞
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1051 HRT医疗资源新增西澳大利亚大学
  content/zh-cn/docs/hrt/australia/UWA/index.md
  content/zh-cn/docs/hrt/australia/australia.md
Labels: Content | 内容, HRT

#1049 更新上海市浦东新区精神卫生中心
  content/zh-cn/docs/psyco/shanghai/shspdjw/index.md
Labels: Content | 内容, Psycho | 精神科

#1055 update: 一种可能更优的自制凝胶配方以及适合大量制作的方法
  content/zh-cn/docs/medicine/estrogen/gel/index.md
Labels: Content | 内容, HRT

#1054 西澳大利亚大学应该在“澳大利亚”类目下
  content/zh-cn/docs/hrt/australia/_index.md
Labels: Content | 内容, HRT

#1056 Update legal-faq.md
  content/zh-cn/docs/useful-info/legal-faq.md
Labels: Content | 内容

#1059 Update us-hrt-overview.md
  content/zh-cn/docs/hrt/us/us-hrt-overview.md
Labels: Content | 内容, HRT

#1058 Add 侯倩
  content/zh-cn/docs/vocal-therapy/hou-qian.md
Labels: Content | 内容

#1060 更新武汉精卫李赋相关信息
  content/zh-cn/docs/psyco/hubei/li-fu/index.md
Labels: Content | 内容, Psycho | 精神科

#1062 根据医生本人描述更新武汉精卫李赋相关信息
  content/zh-cn/docs/psyco/hubei/li-fu/index.md
Labels: Content | 内容, Psycho | 精神科

#1061 更新 北三胡佩诚
  content/zh-cn/docs/psyco/beijing/hu-peicheng/index.md
Labels: Content | 内容, Psycho | 精神科

#1069 增加提示泰国药物过敏史可能引发的安全性问题
  content/zh-cn/docs/srs/thailand/srs-overview-thailand.md
Labels: Content | 内容, SRS

#1070 证件变更指引 | 更新公证书相关要求
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1068 增加浦东新区人民医院
  content/zh-cn/docs/hrt/shanghai/_index.md
Labels: Content | 内容, HRT

#1067 更新深圳市康宁医院
  content/zh-cn/docs/psyco/guangdong/shenzhen-kangning/index.md
Labels: Content | 内容, Psycho | 精神科

#1071 可以初步确认重庆市、福建省、河南省、广东省、安徽省、广西壮族自治区、湖南省、江西省、吉林省、湖北省、伊春市、辽宁省、云南省、新疆维吾尔自治区等地变更更正性别标记不需要公证书
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS
