Repository project-trans/MtF-wiki, pull requests merged in 2024-08, with the labels that each got.

#1077 HRT医疗资源添加泰州市第四人民医院
  content/zh-cn/docs/hrt/_index.md
Labels: Content | 内容, HRT

#1075 更新 上海市精神卫生中心
  content/zh-cn/docs/psyco/shanghai/shmhc/index.md
Labels: Content | 内容, Psycho | 精神科

#1073 更新411医院对于HIV阳性患者手术的相关规定
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#1078 根据本人就诊情况更新411喉结手术相关信息
  content/zh-cn/docs/srs/china/sh411/sh411-tracheal-shave/_index.md
Labels: Content | 内容, SRS

#1084 修改嗓音训练 已确认列表
  content/zh-cn/docs/vocal-therapy/vocal-therapy-confirmed.md
  content/zh-cn/docs/vocal-therapy/vocal-therapy-overview.md
Labels: Content | 内容

#1082 北医三院 | 修改+增加了细节信息
  content/zh-cn/docs/hrt/puth/_index.md
Labels: Content | 内容, HRT

#1088 证件变更指引 | 成都学生集体户口可能无法变更姓名
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1090 补充手机卡信息修改提示
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1085 李革临 | 更新嗓音训练注意事项
  content/zh-cn/docs/vocal-surgery/li-gelin/_index.md
Labels: Content | 内容

#1086 更新 浙大二院
  content/zh-cn/docs/psyco/zhejiang/sahzu/image2.jpg
  content/zh-cn/docs/psyco/zhejiang/sahzu/index.md
Labels: Content | 内容, Psycho | 精神科

#1087 更新 南昌 郭明
  content/zh-cn/docs/psyco/jiangxi/guo-ming/index.md
  content/zh-cn/docs/psyco/jiangxi/guo-ming/record2.jpg
Labels: Content | 内容, Psycho | 精神科

#1093 更新上海九院通模相关
  content/zh-cn/docs/srs/china/sh9/index.md
Labels: Content | 内容, SRS

#1097 增加喉结声带同时做的达成条件
  content/zh-cn/docs/vocal-surgery/li-gelin/_index.md
Labels: Content | 内容

#1098 回龙观挂号号源或已经和114平台同步
  content/zh-cn/docs/psyco/beijing/bhlgh/_index.md
Labels: Content | 内容, Psycho | 精神科

#1099 补充康宁医院杨惠妮医生观察期信息
  content/zh-cn/docs/psyco/guangdong/shenzhen-kangning/index.md
Labels: Content | 内容, Psycho | 精神科

#1101 Optimized font loading
  themes/mtfwiki-modified/assets/sass/base/_typography.scss
Labels: Site | 站点
