Repository project-trans/MtF-wiki, pull requests merged in 2024-05, with the labels that each got.

#1014 更新大连七院就诊信息
  content/zh-cn/docs/psyco/liaoning/liu-hong/index.md
  content/zh-cn/docs/psyco/liaoning/zhang-liang/index.md
Labels: Content | 内容, Psycho | 精神科

#1018 增加公治〔2009〕459号相关
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1017 修正张瑞国医生的相关更变内容
  content/zh-cn/docs/psyco/shaanxi/zhang-ruiguo/index.md
Labels: Content | 内容, Psycho | 精神科

#1020 fix(robots.txt): :bug: fix robots.txt
  themes/mtfwiki-modified/layouts/partials/head/services.html
  themes/mtfwiki-modified/layouts/robots.txt
Labels: Site | 站点

#1021 PAI | 增加医疗警告
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1022 PAI | 增加陪护蓝莓
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1019 Correct HRT Cafe link address
  content/zh-cn/docs/medicine/hrt-overview.md
Labels: Content | 内容, HRT

#1023 PAI | 更新 Jessica / 嘉嘉 的证书
  content/zh-cn/docs/srs/thailand/preecha.md
  static/images/srs/thailand/preecha/Certification_of_Volunteer_Service_for_Jessica_Lee.jpg
  static/images/srs/thailand/preecha/Jessica_Lee_Cert_20240501.jpg
Labels: Content | 内容, SRS

#1024 PAI | 移除时效性信息
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1026 通俗用语添加通往小证大证假条解释的超链接
  content/zh-cn/docs/useful-info/colloquialism.md
Labels: Content | 内容
