Repository project-trans/MtF-wiki, pull requests merged in 2024-04, with the labels that each got.

#996 修改/添加 北医三院复诊流程
  content/zh-cn/docs/hrt/puth/_index.md
Labels: Content | 内容, HRT

#1001 Update preecha.md
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#999 更新北医三院出诊信息
  content/zh-cn/docs/hrt/puth/_index.md
Labels: Content | 内容, HRT

#1000 education.md: 四六级报名信息照片变更
  content/zh-cn/docs/srs/education.md
Labels: Content | 内容, SRS

#984 Update thailand-tips.md
  content/zh-cn/docs/srs/thailand/thailand-tips.md
Labels: Content | 内容, SRS

#1006 北医三院 | 补充处方相关信息
  content/zh-cn/docs/hrt/puth/pan-bailin/index.md
Labels: Content | 内容, HRT

#1005 docs(srs-thai): :sparkles: Add LiangJin's WeCensor
  content/zh-cn/docs/srs/thailand/chettawut.md
  content/zh-cn/docs/srs/thailand/preecha.md
  content/zh-cn/docs/srs/thailand/thiti.md
  content/zh-hant/docs/srs/thailand/chettawut.md
  content/zh-hant/docs/srs/thailand/preecha.md
  content/zh-hant/docs/srs/thailand/thiti.md
Labels: Content | 内容, SRS

#998 没有明文规定有犯罪记录无法修改性别
  content/zh-cn/docs/srs/srs-tech.md
  content/zh-cn/docs/useful-info/legal-faq.md
Labels: Content | 内容, SRS

#997 参考公开资料修改部分“改证”相关内容
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1007 删除李赋的部分内容
  content/zh-cn/docs/psyco/hubei/li-fu/index.md
Labels: Content | 内容, Psycho | 精神科

#1003 docs(zhangliang): :art: Update Zhang Liang according to feedback
  content/zh-cn/docs/psyco/liaoning/zhang-liang/index.md
Labels: Content | 内容, Psycho | 精神科

#1004 Update zh-cn/srs/thailand/preecha.md
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1008 浙大二院 | 增补、更新内分泌科就诊信息
  content/zh-cn/docs/hrt/zhejiang2.md
Labels: Content | 内容, HRT

#1012 根据个人经历修改部分内容
  content/zh-cn/docs/psyco/hubei/li-fu/index.md
  content/zh-cn/docs/psyco/hubei/li-fu/proof.jpg
Labels: Content | 内容, Psycho | 精神科

#1011 PAI | 更新脱毛相关信息
  content/zh-cn/docs/srs/thailand/preecha.md
  content/zh-hant/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1015 细化改证指引部分内容
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS
