Repository project-trans/MtF-wiki, pull requests merged in 2024-03, with the labels that each got.

#980 更新: 温州医科大学附属康宁医院-郑天生信息
  content/zh-cn/docs/psyco/zhejiang/zheng-tiansheng/index.md
Labels: Content | 内容, Psycho | 精神科

#982 docs: 诊所 PAI 页面中增加 Charee 的联系信息
  content/zh-cn/docs/srs/thailand/preecha.md
  content/zh-hant/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#983 依照 SRS FAQ (v1.1) 重新整理
  content/zh-cn/docs/srs/srs-faq.md
  content/zh-cn/docs/srs/srs-tech.md
  content/zh-cn/docs/srs/thailand/suporn.md
  content/zh-cn/docs/srs/thailand/thiti.md
Labels: Content | 内容, SRS

#985 更新 广州暨南一院 高绿芬 出诊信息
  content/zh-cn/docs/hrt/jnuh1/index.md
Labels: Content | 内容, HRT

#992 增加赵博喉结手术注意事项
  content/zh-cn/docs/srs/china/sh411/sh411-tracheal-shave/_index.md
Labels: Content | 内容, SRS

#991 达芬奇机器人使用Nix！
  content/zh-cn/docs/srs/china/xa-imc/index.md
Labels: Content | 内容, SRS

#990 替换失效链接，根据沪公行规〔2023〕3号修正部分内容
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#989 添加了几个在美国开始HRT可能会被问到的问题
  content/zh-cn/docs/hrt/us/us-hrt-overview.md
Labels: Content | 内容, HRT

#994 education.md: CET6 资格复核
  content/zh-cn/docs/srs/education.md
Labels: Content | 内容, SRS

#995 关于邸晓兰医生“不看检查直接复印病历”描述的限定词
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/index.md
Labels: Content | 内容, Psycho | 精神科
