Repository project-trans/MtF-wiki, pull requests merged in 2024-09, with the labels that each got.

#1102 add：部分产品在常见原产地的上市信息
  content/zh-cn/docs/medicine/antiandrogen/cyproterone/index.md
  content/zh-cn/docs/medicine/estrogen/estradiol-valerate/index.md
  content/zh-cn/docs/medicine/estrogen/estradiol/index.md
  content/zh-cn/docs/medicine/estrogen/gel/index.md
  static/documents/siterone.pdf
Labels: Content | 内容, HRT

#1106 Update: information about Finland
  content/zh-cn/docs/hrt/finland/_index.md
  content/zh-cn/docs/srs/finland/index.md
Labels: Content | 内容, SRS, HRT

#1108 Update id-card.md
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1107 Add: info about changing official documents overseas
  .github/CODEOWNERS
  content/zh-cn/docs/ffs/_index.md
  content/zh-cn/docs/hrt/_index.md
  content/zh-cn/docs/medicine/_index.md
  content/zh-cn/docs/psyco/_index.md
  content/zh-cn/docs/srs/_index.md
  content/zh-cn/docs/useful-info/_index.md
  content/zh-cn/docs/useful-info/document-updates/_index.md
  content/zh-cn/docs/useful-info/document-updates/finland.md
  content/zh-cn/docs/useful-info/document-updates/germany.md
  content/zh-cn/docs/useful-info/document-updates/name-change.md
  content/zh-cn/docs/vocal-surgery/_index.md
  content/zh-cn/docs/vocal-therapy/_index.md
Labels: Content | 内容, Psycho | 精神科, SRS, FFS, HRT

#1104 update preecha.md and id-card.md
  content/zh-cn/docs/srs/id-card.md
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1105 Update TiA! group name for friendship.md
  content/zh-cn/docs/friendship.md
Labels: Content | 内容

#1100 增加「隆乳手术」栏目
  content/zh-cn/docs/breast-augmentation/_index.md
  content/zh-cn/docs/breast-augmentation/breast-overview.md
  content/zh-cn/docs/ffs/ffs-overview.md
Labels: Content | 内容, FFS

#1113 根据见闻修改四一一医院指南
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#1114 Add "山西" section and "临汾市中心医院｜董燕" page
  content/zh-cn/docs/psyco/shanxi/_index.md
  content/zh-cn/docs/psyco/shanxi/dongyan/doctor.png
  content/zh-cn/docs/psyco/shanxi/dongyan/guahao.jpg
  content/zh-cn/docs/psyco/shanxi/dongyan/index.md
  content/zh-cn/docs/psyco/shanxi/dongyan/wenzhen.jpg
Labels: Content | 内容, Psycho | 精神科

#1116 更新 学籍学历变更指引
  content/zh-cn/docs/srs/education.md
Labels: Content | 内容, SRS

#1112 feat(psyco): 添加成都市第四人民医院戴静的页面
  content/zh-cn/docs/psyco/sichuan/chengdu/daijing/bingli.jpg
  content/zh-cn/docs/psyco/sichuan/chengdu/daijing/doctor.jpg
  content/zh-cn/docs/psyco/sichuan/chengdu/daijing/index.md
  content/zh-cn/docs/psyco/sichuan/chengdu/daijing/zhuye.jpg
Labels: Content | 内容, Psycho | 精神科

#1117 Add "广州｜李启荣" psychiatrist page
  content/zh-cn/docs/psyco/guangdong/li-qirong/doctor.webp
  content/zh-cn/docs/psyco/guangdong/li-qirong/index.md
  content/zh-cn/docs/psyco/guangdong/li-qirong/proof.jpg
  content/zh-cn/docs/psyco/guangdong/li-qirong/zhuye.jpg
Labels: Content | 内容, Psycho | 精神科

#1118 添加内链
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/index.md
  content/zh-cn/docs/psyco/beijing/bhlgh/guo-bin/index.md
  content/zh-cn/docs/psyco/beijing/bhlgh/niu-yajuan/index.md
  content/zh-cn/docs/psyco/beijing/tang-hongyu/index.md
Labels: Content | 内容, Psycho | 精神科

#1120 Update CA information
  content/zh-cn/docs/hrt/canada/notice/index.md
Labels: Content | 内容, HRT

#1111 Add 锁骨截短手术
  content/zh-cn/docs/useful-info/css/_index.md
  content/zh-cn/docs/useful-info/css/css-overview.md
Labels: Content | 内容

#1119 feat(hrt): 添加新加坡伊丽莎白医院页面
  content/zh-cn/docs/hrt/singapore/mount.md
Labels: Content | 内容, HRT

#1121 尝试解决图片不显示的问题
  content/zh-cn/docs/useful-info/organizations.md
Labels: Content | 内容

#1122 更新 大连 刘宏 就诊信息
  content/zh-cn/docs/psyco/liaoning/liu-hong/index.md
Labels: Content | 内容, Psycho | 精神科

#1123 浙大二院不再允许开具外配处方
  content/zh-cn/docs/hrt/zhejiang2.md
Labels: Content | 内容, HRT

#1124 关于“大学英语四六级”报名照片信息事宜补充
  content/zh-cn/docs/srs/education.md
Labels: Content | 内容, SRS

#1126 更新大连七院信息
  content/zh-cn/docs/psyco/liaoning/liu-hong/index.md
  content/zh-cn/docs/psyco/liaoning/liu-hong/yibao.png
  content/zh-cn/docs/psyco/liaoning/zhang-liang/index.md
  content/zh-cn/docs/psyco/liaoning/zhang-liang/yibao.png
Labels: Content | 内容, Psycho | 精神科

#1128 增加 “关于升学”
  .github/CODEOWNERS
  content/zh-cn/docs/srs/education.md
Labels: Content | 内容, SRS

#1129 嗓音训练 | 更新关于 yibin 医生的内容，以及报价，基于本人当场询问
  content/zh-cn/docs/vocal-surgery/vocal-surgery-overview.md
  content/zh-cn/docs/vocal-surgery/yi-bin.md
Labels: Content | 内容

#1132 (zh-hant/docs)：修复日期格式错误
  content/zh-hant/docs/medicine/_index.md
Labels: Content | 内容, HRT

#1130 学籍学历变更指引 | 修改“关于升学”；增加“关于学信网账号”
  content/zh-cn/docs/srs/education.md
Labels: Content | 内容, SRS

#1133 PAI | 参阅部分增加 `于PAI的性别重置手术（SRS）流程`
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1136 添加张霞
  content/zh-cn/docs/hrt/liaoning/_index.md
  content/zh-cn/docs/hrt/liaoning/zhang-xia/chufang.jpg
  content/zh-cn/docs/hrt/liaoning/zhang-xia/chufang1.jpg
  content/zh-cn/docs/hrt/liaoning/zhang-xia/index.md
Labels: Content | 内容, HRT

#1139 (hrt/zhang-xia): 重新查证所需材料
  content/zh-cn/docs/hrt/liaoning/zhang-xia/index.md
Labels: Content | 内容, HRT
