Repository project-trans/MtF-wiki, pull requests merged in 2024-12, with the labels that each got.

#1247 docs: update Guangdong zhao-suhua
  content/zh-cn/docs/psyco/guangdong/zhao-suhua/index.md
Labels: Content | 内容, Psycho | 精神科

#1251 户口身份证变更指引 | 更新成都市相关情况
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1252 fix: 北三成年必须家长电话/到现场
  content/zh-cn/docs/hrt/puth/_index.md
Labels: Content | 内容, HRT

#1258 增加生殖能力保存，修改建议路线
  content/zh-cn/docs/hrt/australia/Sydney/index.md
Labels: Content | 内容, HRT

#1262 更新411医院赵烨德挂号信息
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#1265 调整免责声明显示方式
  themes/mtfwiki-modified/assets/cookies-eu-banner.js
Labels: Site | 站点

#1266 添加医院别名（广州华侨医院）
  content/zh-cn/docs/hrt/jnuh1/index.md
Labels: Content | 内容, HRT

#1269 feat: 添加加拿大嗓音训练资源
  content/zh-cn/docs/vocal-therapy/vocal-therapy-confirmed.md
Labels: Content | 内容

#1270 更新海航金鹏会员卡证件变更信息
  content/zh-cn/docs/srs/real-name-info.md
Labels: Content | 内容, SRS

#1271 增加学籍修改适用范围说明
  content/zh-cn/docs/srs/education.md
Labels: Content | 内容, SRS
