Repository project-trans/MtF-wiki, pull requests merged in 2025-09, with the labels that each got.

#1490 删除并不可靠的医生信息，更正部分描述，增加实用内容（HRT治疗期间监测）
  content/zh-cn/docs/hrt/other-chinamainland-hrt-res-list.md
  content/zh-cn/docs/medicine/hrt-overview.md
  content/zh-cn/docs/medicine/monitoring.md
Labels: Content | 内容, HRT

#1517 Update real-name-info.md
  content/zh-cn/docs/useful-info/real-name-info.md
Labels: Content | 内容

#1526 Fix play store download link in thailand-tips.md
  content/zh-cn/docs/srs/thailand/thailand-tips.md
  content/zh-hant/docs/srs/thailand/thailand-tips.md
Labels: Content | 内容, SRS

#1523 添加爱斯妥挤压教程
  content/zh-cn/docs/medicine/estrogen/gel/index.md
  content/zh-hant/docs/medicine/estrogen/gel/index.md
  static/images/medicine/gel/estradiol-gel-intro.jpg
Labels: Content | 内容, HRT
