Repository project-trans/MtF-wiki, pull requests merged in 2025-07, with the labels that each got.

#1484 Update re University of Toronto
  content/zh-cn/docs/hrt/canada/uoft/index.md
Labels: Content | 内容, HRT

#1486 grammatical mistake fixed.md
  content/zh-cn/docs/hrt/canada/uoft/index.md
Labels: Content | 内容, HRT

#1478 doc: 处理事实性错误
  content/zh-cn/docs/medicine/hrt-overview.md
Labels: Content | 内容, HRT

#1494 新增关于改名的指引 修改上海精卫隐私声明
  content/zh-cn/docs/psyco/shanghai/shmhc/index.md
  content/zh-cn/docs/useful-info/legal-faq.md
Labels: Content | 内容, Psycho | 精神科

#1496 更新上海精卫中心诊断证明的要求
  content/zh-cn/docs/psyco/shanghai/shmhc/index.md
Labels: Content | 内容, Psycho | 精神科

#1499 北医三院内容更新
  content/zh-cn/docs/hrt/puth/_index.md
  content/zh-cn/docs/hrt/puth/timeline.webp
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/no-crime.png
  content/zh-cn/docs/srs/china/pku3/index.md
Labels: Content | 内容, Psycho | 精神科, SRS, HRT
