Repository project-trans/MtF-wiki, pull requests merged in 2025-05, with the labels that each got.

#1417 解决一批工单反馈
  content/zh-cn/docs/outdated.md
  content/zh-cn/docs/psyco/beijing/hao-shuwei/index.md
  content/zh-cn/docs/useful-info/real-name-info.md
  content/zh-cn/docs/vocal-surgery/thailand/yoskarn.md
  content/zh-cn/docs/vocal-surgery/yi-bin.md
  content/zh-cn/docs/vocal-therapy/vocal-therapy-confirmed.md
  content/zh-cn/docs/vocal-therapy/wang-lu/index.md
Labels: Content | 内容, Psycho | 精神科, Voice | 声音相关

#1413 添加 合肥市第四人民医院 跨性别友好医生
  content/zh-cn/docs/psyco/psyco-friendly.md
Labels: Content | 内容, Psycho | 精神科

#1414 更新 龙智
  content/zh-cn/docs/hrt/xiangya3/index.md
Labels: Content | 内容, HRT

#1415 更新 陈一萍
  content/zh-cn/docs/psyco/zhejiang/sahzu/index.md
Labels: Content | 内容, Psycho | 精神科

#1416 更新 上海精神卫生中心
  content/zh-cn/docs/psyco/shanghai/shmhc/index.md
Labels: Content | 内容, Psycho | 精神科

#1420 修改Progynova药物剂型过时信息
  content/zh-hant/docs/medicine/estrogen/estradiol-valerate/index.md
Labels: Content | 内容, HRT

#1421 添加Saran医生照片
  content/zh-cn/docs/srs/thailand/saran.md
  static/images/srs/thailand/saran/doctor.jpg
Labels: Content | 内容, SRS, HRT

#1425 更新 山东精卫
  content/zh-cn/docs/psyco/shandong/sdmhc/index.md
Labels: Content | 内容, Psycho | 精神科

#1418 增加敏感内容使用协议，适用于敏感照片
  content/zh-cn/about/licence-pic.md
  content/zh-cn/docs/srs/licence-pic.md
Labels: Content | 内容, SRS

#1426 更新 李启荣
  content/zh-cn/docs/psyco/guangdong/li-qirong/index.md
  content/zh-cn/docs/psyco/guangdong/li-qirong/proof2025.jpg
  content/zh-cn/docs/psyco/guangdong/li-qirong/record2025.jpg
Labels: Content | 内容, Psycho | 精神科

#1427 friendship.md: 调整语句
  content/zh-cn/docs/friendship.md
Labels: Content | 内容

#1428 更新 PAI SRS 手术及司法鉴定材料
  content/zh-cn/docs/srs/id-card.md
  content/zh-cn/docs/srs/thailand/preecha.md
Labels: Content | 内容, SRS

#1429 chettawut.md: 清理过时内容
  content/zh-cn/docs/srs/thailand/chettawut.md
  content/zh-hant/docs/srs/thailand/chettawut.md
Labels: Content | 内容, SRS

#1450 改善免责声明显示效果
  themes/mtfwiki-modified/assets/cookies-eu-banner.css
Labels: Site | 站点

#1453 docs(unconfirmed): Update psychiatrist information
  content/zh-cn/docs/unconfirmed.md
Labels: Content | 内容

#1454 添加东方万里行会员信息变更指引
  content/zh-cn/docs/useful-info/real-name-info.md
Labels: Content | 内容

#1455 补充浙二的精神科资料
  content/zh-cn/docs/psyco/zhejiang/sahzu/index.md
  content/zh-cn/docs/unconfirmed.md
Labels: Content | 内容, Psycho | 精神科

#1422 补充青春期阻断剂用药细节
  content/zh-cn/docs/medicine/antiandrogen/gnrha.md
Labels: Content | 内容, Psycho | 精神科, HRT
