Repository project-trans/MtF-wiki, pull requests merged in 2025-06, with the labels that each got.

#1464 PR 预览使用新版 MtF-wiki 前端框架
  .github/workflows/preview-pr-build.yaml
Labels: Site | 站点

#1466 双相不是双向
  content/zh-cn/docs/srs/srs-faq.md
  content/zh-cn/docs/useful-info/self-test.md
Labels: Content | 内容, SRS

#1465 调整关于部分文本和目录结构
  content/en/about/_index.md
  content/es/about/_index.md
  content/ja/about/_index.md
  content/zh-cn/about/_index.md
  content/zh-cn/docs/_index.md
  content/zh-hant/about/_index.md
Labels: Content | 内容

#1467 更新重庆HRT医疗资源信息
  content/zh-cn/docs/hrt/duan-lian/_index.md
  content/zh-cn/docs/psyco/chongqing/ren-zhengjia/index.md
Labels: Content | 内容, Psycho | 精神科, HRT

#1468 更新北京友谊医院嗓音手术
  content/zh-cn/docs/vocal-surgery/li-gelin/_index.md
Labels: Content | 内容

#1469 使用新版 MtF-wiki 前端框架
  .github/workflows/deploy.yaml
  .github/workflows/preview-pr-build.yaml
  README-EN.md
  README-ES.md
  README-JA.md
  README-T.md
  README.md
  content/en/about/_index.md
  content/es/about/_index.md
  content/ja/about/_index.md
  content/zh-cn/about/_index.md
  content/zh-hant/about/_index.md
Labels: Site | 站点

#1470 Fixed a small typo in gov.md
  content/zh-hant/docs/srs/hongkong/gov.md
Labels: Content | 内容, SRS

#1472 更新 政府性別認同診所
  content/zh-hant/docs/srs/hongkong/gov.md
Labels: Content | 内容, SRS

#1473 户口身份证变更指引 | 属机关、团体、学校、企事业等单位的，“可能”要有所在单位组织人事部门准予变更的证明。
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1462 更新北京友谊医院嗓音训练指引
  content/zh-cn/docs/vocal-therapy/bfh.md
  content/zh-cn/docs/vocal-therapy/vocal-therapy-confirmed.md
Labels: Content | 内容
