Repository project-trans/MtF-wiki, pull requests merged in 2025-04, with the labels that each got.

#1368 Update 上海市精神卫生中心 王飚
  content/zh-cn/docs/psyco/shanghai/shmhc/index.md
Labels: Content | 内容, Psycho | 精神科

#1375 郝树伟 增加病历样式
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/index.md
  content/zh-cn/docs/psyco/beijing/hao-shuwei/index.md
  content/zh-cn/docs/psyco/beijing/hao-shuwei/records.jpg
Labels: Content | 内容, Psycho | 精神科

#1376 修改曹秋云接诊地点
  content/zh-cn/docs/psyco/jiangsu/cao-qiuyun/index.md
  content/zh-cn/docs/useful-info/css/css-overview.md
Labels: Content | 内容, Psycho | 精神科

#1374 张敬悬退休
  content/zh-cn/docs/outdated.md
  content/zh-cn/docs/psyco/shandong/sdmhc/index.md
Labels: Content | 内容, Psycho | 精神科

#1379 更新 刘宏伟
  content/zh-cn/docs/srs/china/jd120/index.md
Labels: Content | 内容, SRS

#1381 蔡达武更名
  content/zh-cn/docs/srs/care.md
  content/zh-cn/docs/srs/thailand/chettawut.md
  content/zh-cn/docs/srs/thailand/srs-overview-thailand.md
  content/zh-cn/docs/srs/thailand/thiti.md
  content/zh-hant/docs/srs/care.md
  content/zh-hant/docs/srs/thailand/chettawut.md
  content/zh-hant/docs/srs/thailand/srs-overview-thailand.md
  content/zh-hant/docs/srs/thailand/thiti.md
Labels: Content | 内容, SRS

#1380 更新 中国医学科学院整形外科医院
  content/zh-cn/docs/srs/china/psh/_index.md
Labels: Content | 内容, SRS

#1382 北京友谊涨价
  content/zh-cn/docs/vocal-surgery/li-gelin/_index.md
Labels: Content | 内容

#1383 变更台湾身份证性别信息后变更台胞证的问题
  content/zh-hant/docs/useful-info/document-updates/_index.md
  content/zh-hant/docs/useful-info/document-updates/mtptr.md
Labels: Content | 内容

#1386 docs(zh-cn/psyco): :memo: update guangdong/li-qirong
  content/zh-cn/docs/psyco/guangdong/li-qirong/index.md
Labels: Content | 内容, Psycho | 精神科

#1385 docs(sahzu): :memo: update Chen Yiping
  content/zh-cn/docs/psyco/zhejiang/sahzu/index.md
Labels: Content | 内容, Psycho | 精神科

#1397 新增一篇拓展阅读，更改证件时被要求提交其他冗余材料的实操
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1392 李启荣：更新了就诊细节
  content/zh-cn/docs/psyco/guangdong/li-qirong/index.md
Labels: Content | 内容, Psycho | 精神科

#1394 Di Xiaolan: Add detalis of Proof.
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/index.md
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/no-crime.png
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/proof.jpg
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/record-twice.jpg
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/record.jpg
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/template.jpg
Labels: Content | 内容, Psycho | 精神科

#1393 北京回龙观医院：更新医保扫码和新的复印指南。
  content/zh-cn/docs/psyco/beijing/bhlgh/_index.md
Labels: Content | 内容, Psycho | 精神科

#1387 联通手机卡实名变更指南（台胞证）
  content/zh-hant/docs/useful-info/real-name-info.md
Labels: Content | 内容

#1396 Niu Yajuan: Change new scanned record and change some outdated statem…
  content/zh-cn/docs/psyco/beijing/bhlgh/niu-yajuan/index.md
  content/zh-cn/docs/psyco/beijing/bhlgh/niu-yajuan/proof.jpg
  content/zh-cn/docs/psyco/beijing/bhlgh/niu-yajuan/record.jpg
Labels: Content | 内容, Psycho | 精神科

#1403 新增上海 HRT 医院和医生
  content/zh-cn/docs/hrt/shanghai/other-shanghai-hrt-res-list.md
Labels: Content | 内容, HRT

#1402 docs(outdated): 移除张瑞国
  content/zh-cn/docs/outdated.md
  content/zh-cn/docs/psyco/shaanxi/_index.md
  content/zh-cn/docs/psyco/shaanxi/zhang-ruiguo/doctor.jpg
  content/zh-cn/docs/psyco/shaanxi/zhang-ruiguo/index.md
  content/zh-cn/docs/psyco/shaanxi/zhang-ruiguo/proof.jpg
Labels: Content | 内容, Psycho | 精神科

#1401 docs(srs): Update 上海九院
  content/zh-cn/docs/srs/china/sh9/index.md
Labels: Content | 内容, SRS

#1400 docs(psyco): Update 杭州｜浙江大学医学院附属第二医院 陈一萍
  content/zh-cn/docs/psyco/zhejiang/sahzu/index.md
Labels: Content | 内容, Psycho | 精神科

#1407 银行卡实名信息变更指引（台胞证）
  content/zh-hant/docs/useful-info/real-name-info.md
Labels: Content | 内容

#1408 更新北京回龙观医院初诊的检查费用及添加需要携带身份证件的提醒
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/index.md
Labels: Content | 内容, Psycho | 精神科

#1404 更新 赵素华
  content/zh-cn/docs/psyco/guangdong/zhao-suhua/index.md
Labels: Content | 内容, Psycho | 精神科

#1409 整理 证件变更指引 相关内容
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1412 更新北京友谊医院嗓音训练要求
  content/zh-cn/docs/vocal-therapy/hou-qian.md
Labels: Content | 内容
