Repository project-trans/MtF-wiki, pull requests merged in 2025-02, with the labels that each got.

#1286 南京脑科医院开具诊断证明相关内容更新
  content/zh-cn/docs/psyco/jiangsu/nbh/index.md
Labels: Content | 内容, Psycho | 精神科

#1287 fix: incorrectly rendered toc item
  content/zh-cn/docs/hrt/puth/pan-bailin/index.md
Labels: Content | 内容, HRT

#1295 更新411手术前需要准备的物品
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#1296 docs(useful-info/organizations): Add Trueself
  content/zh-cn/docs/useful-info/organizations.md
Labels: Content | 内容

#1299 更新李革临医生声带手术要求
  content/zh-cn/docs/vocal-surgery/li-gelin/_index.md
Labels: Content | 内容

#1298 更新 Kamol 中文员工联系方式
  content/zh-cn/docs/srs/thailand/kamol.md
Labels: Content | 内容, SRS

#1300 更新北京回龙观医院过斌医生诊断信息
  content/zh-cn/docs/psyco/beijing/bhlgh/guo-bin/index.md
Labels: Content | 内容, Psycho | 精神科

#1301 kamol | 重新组织内容
  content/zh-cn/docs/srs/thailand/kamol.md
  content/zh-hant/docs/srs/thailand/kamol.md
Labels: Content | 内容, SRS

#1304 调整目录 title 下的页面
  content/zh-cn/docs/hrt/_index.md
  content/zh-cn/docs/hrt/australia/_index.md
  content/zh-cn/docs/hrt/australia/au-hrt-overview.md
  content/zh-cn/docs/hrt/other-chinamainland-hrt-res-list.md
  content/zh-cn/docs/hrt/shanghai/_index.md
  content/zh-cn/docs/hrt/shanghai/other-shanghai-hrt-res-list.md
  content/zh-cn/docs/srs/_index.md
  content/zh-cn/docs/srs/terminology.md
Labels: Content | 内容, SRS, HRT

#1303 曹秋云相关更新
  content/zh-cn/docs/psyco/jiangsu/cao-qiuyun/index.md
Labels: Content | 内容, Psycho | 精神科

#1305 更新张贤生
  content/zh-cn/docs/srs/china/ayfy/index.md
Labels: Content | 内容, SRS

#1306 更新友谊医院手术费用信息
  content/zh-cn/docs/vocal-surgery/li-gelin/_index.md
Labels: Content | 内容

#1311 更新 HRT 医疗资源综述 & 部分排版问题修复
  content/zh-cn/docs/hrt/australia/au-hrt-overview.md
  content/zh-cn/docs/hrt/hrt-res-overview.md
  content/zh-cn/docs/hrt/other-chinamainland-hrt-res-list.md
  content/zh-cn/docs/hrt/shanghai/other-shanghai-hrt-res-list.md
Labels: Content | 内容, HRT

#1309 增加罗隽证明样本
  content/zh-cn/docs/psyco/guangxi/_index.md
  content/zh-cn/docs/psyco/guangxi/nnswy/_index.md
  content/zh-cn/docs/psyco/guangxi/nnswy/proof.jpg
Labels: Content | 内容, Psycho | 精神科

#1308 更新中国大陆 SRS 综述
  content/zh-cn/docs/srs/china/srs-overview-china.md
Labels: Content | 内容, SRS

#1307 更新陈一萍
  content/zh-cn/docs/psyco/zhejiang/sahzu/index.md
Labels: Content | 内容, Psycho | 精神科

#1310 张倩医生重回岗位
  content/zh-cn/docs/psyco/guangdong/shenzhen-kangning/index.md
Labels: Content | 内容, Psycho | 精神科

#1312 根据住院经历更新411手术页面
  content/zh-cn/docs/srs/china/sh411/_index.md
Labels: Content | 内容, SRS

#1314 更新高绿芬医生复诊细节
  content/zh-cn/docs/hrt/jnuh1/index.md
Labels: Content | 内容, HRT

#1313 上海九院术前要求更新
  content/zh-cn/docs/srs/china/sh9/index.md
Labels: Content | 内容, SRS

#1316 更新Saran教授SRS
  content/zh-cn/docs/srs/thailand/saran.md
Labels: Content | 内容, SRS

#1320 北医三院不再对外院手术出具性别鉴定证明
  content/zh-cn/docs/srs/id-card.md
Labels: Content | 内容, SRS

#1322 更新北医三院挂号信息
  content/zh-cn/docs/hrt/puth/_index.md
Labels: Content | 内容, HRT

#1323 增加关于 国家药监局综合司关于《药品网络销售禁止清单（第一版）》有关问题的复函 的链接
  content/zh-cn/docs/medicine/hrt-overview.md
Labels: Content | 内容, HRT

#1317 更新山东精卫曹秉玉就诊细节
  content/zh-cn/docs/psyco/shandong/sdmhc/index.md
Labels: Content | 内容, Psycho | 精神科

#1324 删除术后护理页面空标题
  content/zh-cn/docs/srs/care.md
Labels: Content | 内容, SRS

#1327 更新Saran医生Cheraa的中介和陪护信息
  content/zh-cn/docs/srs/thailand/saran.md
Labels: Content | 内容, SRS

#1328 解决几个工单
  content/zh-cn/docs/hrt/puth/_index.md
  content/zh-cn/docs/psyco/psyco-friendly.md
  content/zh-cn/docs/unconfirmed.md
Labels: Content | 内容, Psycho | 精神科, HRT

#1325 浙江大学医学院附属第二医院 | 调整图片
  content/zh-cn/docs/psyco/zhejiang/sahzu/image1.jpg
Labels: Content | 内容, Psycho | 精神科

#1330 更新 重医三院 相关
  content/zh-cn/docs/hrt/duan-lian/_index.md
  content/zh-cn/docs/hrt/duan-lian/bingli1.jpg
  content/zh-cn/docs/hrt/duan-lian/bingli2.jpg
  content/zh-cn/docs/hrt/duan-lian/license1.jpg
  content/zh-cn/docs/hrt/duan-lian/license2.jpg
  content/zh-cn/docs/psyco/chongqing/ren-zhengjia/bingli.jpg
  content/zh-cn/docs/psyco/chongqing/ren-zhengjia/index.md
  content/zh-cn/docs/psyco/chongqing/ren-zhengjia/zhengming.jpg
Labels: Content | 内容, Psycho | 精神科, HRT
