Repository project-trans/MtF-wiki, pull requests merged in 2025-03, with the labels that each got.

#1331 更新陆艺医生（山东精卫）就诊细节
  content/zh-cn/docs/psyco/shandong/sdmhc/index.md
Labels: Content | 内容, Psycho | 精神科

#1336 满16岁仍可开具青春期阻断剂
  content/zh-cn/docs/hrt/puth/liu-ye/index.md
Labels: Content | 内容, HRT

#1332 赵润蕾医生停诊
  content/zh-cn/docs/hrt/puth/_index.md
Labels: Content | 内容, HRT

#1335 段炼医生接受持本院病历开具处方
  content/zh-cn/docs/hrt/duan-lian/_index.md
Labels: Content | 内容, HRT

#1338 邸晓兰周四下午不接诊初诊患者
  content/zh-cn/docs/psyco/beijing/bhlgh/_index.md
  content/zh-cn/docs/psyco/beijing/bhlgh/di-xiaolan/index.md
Labels: Content | 内容, Psycho | 精神科

#1339 南宁五院升三甲
  content/zh-cn/docs/psyco/guangxi/nnswy/_index.md
Labels: Content | 内容, Psycho | 精神科

#1344 更新台湾和香港性别标记相关内容
  content/zh-hant/docs/psyco/taiwan/_index.md
  content/zh-hant/docs/srs/id-card.md
Labels: Content | 内容, Psycho | 精神科, SRS

#1342 更新北京友谊医院嗓音女性化手术
  content/zh-cn/docs/vocal-surgery/li-gelin/_index.md
Labels: Content | 内容

#1346 浙大一院可开出雌二醇凝胶
  content/zh-cn/docs/hrt/other-chinamainland-hrt-res-list.md
Labels: Content | 内容, HRT

#1341 docs(hrt/CPA): 调整推荐剂量部分表述
  content/zh-cn/docs/medicine/antiandrogen/cyproterone/index.md
Labels: Content | 内容, HRT

#1360 更新北医三院GnRHa相关
  content/zh-cn/docs/hrt/puth/liu-ye/index.md
  content/zh-cn/docs/hrt/puth/liu-ye/injection-gnrha.jpg
  content/zh-cn/docs/hrt/puth/liu-ye/prescription-gnrha.jpg
Labels: Content | 内容, HRT

#1361 李启荣：更新了就诊要求
  content/zh-cn/docs/psyco/guangdong/li-qirong/index.md
Labels: Content | 内容, Psycho | 精神科

#1362 添加美国 FFS 相关信息
  content/zh-cn/docs/ffs/ffs-overview.md
Labels: Content | 内容, FFS

#1364 添加贾艳滨挂号注意事项
  content/zh-cn/docs/psyco/guangdong/jia-yanbin/index.md
Labels: Content | 内容, Psycho | 精神科
